<html>

<head>
  <link rel="stylesheet" href="/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
</head>

<body>
  <h1 class="title">Doodles by Country</h1>
  <div class="">
    <div>
      <div class="instructions">
        <p>
          Below are drawings from Google's Quick, Draw! <a href="https://github.com/googlecreativelab/quickdraw-dataset">dataset</a>. The data was collected by getting millions of people around the world to play a Pictionary-like <a href="https://quickdraw.withgoogle.com">game</a> with a machine learning algorithm developed by Google.
        </p>
        <p>
          Google's built an <a href="https://quickdraw.withgoogle.com/data">interface</a> to allow people to peruse the data but it does not allow users to filter by country. I was curious if there were geographical differences in how people draw these simple objects. I built this user interface to give myself and others the opportunity to find out.
        </p>
      </div>
      <form id="form">
        <label for="categories" class="label">Category: </label>
        <select name="categories" id="categories">
          <% ref.categories.forEach(function(c) { -%>
            <option value="<%= c %>"><%= String.toTitleCase(c) -%></option>
            <% }); -%>
        </select>
        <label for="countries" class="label">Country: </label>
        <select name="countries" id="countries">
          <% ref.countries.forEach(function(c) { -%>
            <option value="<%= c %>"><%= ref.isoCodes[c] -%></option>
            <% }); -%>
        </select>
        <label for="recognized" class="label">Recognized by Google ML?</label>
        <select name="recognized" id="recognized">
          <option value="recognized">Recognized only</option>
          <option value="unrecognized">Unrecognized only</option>
          <option value="all">Recognized and Unrecognized</option>
        </select>
        <input id="submit" type="submit" value="Submit">

        <input id="categoryStart" type="hidden" value="<%= category %>">
        <input id="countryStart" type="hidden" value="<%= countryCode %>">
        <input id="recognizedStart" type="hidden" value="<%= recognized %>">
        <input id="drawingsURL" type="hidden" value="<%= url %>">
      </form>
    </div>

    <div id="drawings" class="drawings"></div>

    <script>
      $(function() {
        $("#countries").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#categories").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#recognized").selectmenu().selectmenu("menuWidget").addClass("left_align");
        $("#submit").button();

        $('#countries').val($('#countryStart').val()).selectmenu('refresh');
        $('#categories').val($('#categoryStart').val()).selectmenu('refresh');
        $('#recognized').val($('#recognizedStart').val()).selectmenu('refresh');

        var url = $('#drawingsURL').val();
        if (url != '') {
          $.ajax({
            url: url,
            success: function(data) {
              $("#drawings").html(data)
            }
          });
        }

        $("#form").submit(function(e) {
          e.preventDefault();
          var country = $("#countries").val();
          var category = $("#categories").val();
          var recognized = $("#recognized").val();
          var url = '/filter/' + country + '/' + category + '/' + recognized;
          window.location.href = url;
        });
      });
    </script>
  </div>
</body>

</html>
