<html>

<head>
  <link rel="stylesheet" href="/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/jquery-ui.min.js"></script>
</head>

<body>
  <h1 class="title">Doodles by Countries</h1>
  <div class="">
    <div>
      <form id="form">
        <label for="categories" class="label">Category: </label>
        <select name="categories" id="categories">
          <% ref.categories.forEach(function(c) { -%>
            <option value="<%= c %>"><%= String.toTitleCase(c) -%></option>
            <% }); -%>
        </select>
        <label for="countries" class="label">Country: </label>
        <select name="countries" id="countries">
          <% ref.countries.forEach(function(c) { -%>
            <option value="<%= c.toLowerCase() %>"><%= ref.isoCodes[c] -%></option>
            <% }); -%>
        </select>
        <label for="recognized" class="label">Recognized by Google ML?</label>
        <select name="recognized" id="recognized">
          <option value="recognized">Recognized only</option>
          <option value="unrecognized">Unrecognized only</option>
          <option value="all">Recognized and Unrecognized</option>
        </select>
        <input id="submit" type="submit" value="Submit">

        <input id="categoryStart" type="hidden" value="<%= category %>">
        <input id="countryStart" type="hidden" value="<%= countryCode.toLowerCase() %>">
        <input id="recognizedStart" type="hidden" value="<%= recognized %>">
        <input id="drawingsURL" type="hidden" value="<%= url %>">
      </form>
    </div>

    <div id="drawings"></div>

    <script>
      $(function() {
        $("#countries").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#categories").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#recognized").selectmenu().selectmenu("menuWidget").addClass("left_align");
        $("#submit").button();

        $('#countries').val($('#countryStart').val()).selectmenu('refresh');
        $('#categories').val($('#categoryStart').val()).selectmenu('refresh');
        $('#recognized').val($('#recognizedStart').val()).selectmenu('refresh');

        var url = $('#drawingsURL').val();
        if (url != '') {
          $.ajax({
            url: url,
            success: function(data) {
              $("#drawings").html(data)
            }
          });
        }

        $("#form").submit(function(e) {
          e.preventDefault();
          var country = $("#countries").val().toLowerCase();
          var category = $("#categories").val();
          var recognized = $("#recognized").val();
          var url = '/filter/' + country + '/' + category + '/' + recognized;
          window.location.href = url;
        });
      });
    </script>
  </div>
</body>

</html>