<% data.forEach(function(datum) { %>
  <div class="drawing ui-corner-all">
    <input name="_id" type="hidden" value="<%= datum['_id'] -%>" />
    <svg viewBox="0 0 255 255" height="180px" width="180px">
      <path d="<%= util.svg_path(datum['d']) -%>" style="fill:none;stroke:#220000;stroke-width:1.0px;stroke-opacity:1" />
    </svg>
    <p class="drawing">
      <% if (links.cc) { -%>
        <span class='info'><a href="<%= util.format(links.cc, datum['c']) -%>"><%= datum['cn'] -%></a></span>
      <% } else { %>
        <span class='info'><%= datum['cn'] -%></span>
      <% } %>
      <% if (links.cat) { -%>
        <span class='info'><a href="<%= util.format(links.cat, datum['w']) -%>"><%= util.toTitleCase(datum['w']) -%></a></span>
      <% } else { %>
        <span class='info'><%= util.toTitleCase(datum['w']) -%></span>
      <% } %>
      <% if (links.rec) { -%>
        <span class='info'><a href="<%= util.format(links.rec, ref.recognizedURL[datum['r']]) -%>"><%= ref.recognized[datum['r']] -%> </a></span>
      <% } else { %>
        <span class='info'><%= ref.recognized[datum['r']] -%></span>
      <% } %>
      <% if (user) { -%>
        <span class='info clickable flag'>Flag as Inappropriate</span>
      <% } else if (adminControls) { -%>
        <span class='info clickable inappropriate'>Mark Inappropriate</span>
        <span class='info clickable acceptable'>Mark Acceptable</span>
      <% } %>
    </p>
  </div>
<% }); %>