<!DOCTYPE html>
<html>
<title><%= `${util.toTitleCase(recognized)} ${util.toTitleCase(category)} drawings from ${ref.isoCodes[countryCode]}` -%></title>
<head>
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/jquery-ui.min.js"></script>
  <script src="/scripts/ejs.min.js"></script>
  <script src="/scripts/helper.js"></script>
</head>

<body>
  <h1 class="title">Drawings by Country</h1>
  <div class="">
    <div>
      <!-- if (state == 'init') { -->
      <% if (true) { -%>
      <div class="instructions">
        <p>
          Below are drawings from Google's Quick, Draw! <a href="https://github.com/googlecreativelab/quickdraw-dataset">dataset</a>. The data was collected by getting millions of people around the world to play a Pictionary-like <a href="https://quickdraw.withgoogle.com">game</a>          with a machine learning algorithm developed by Google.
        </p>
        <p>
          Google's built an <a href="https://quickdraw.withgoogle.com/data">interface</a> to allow people to peruse the data but does not allow users to filter by country. I was curious if there were geographical or cultural differences in how people create these drawings. I built this user interface to give myself and others the opportunity to find out.
        </p>
      </div>
      <% } -%>
      <form id="form">
        <label for="categories" class="label">Category: </label>
        <select name="categories" id="categories">
          <option value="all">All Categories</option>
          <option value="random">Random Category</option>
          <% ref.categories.forEach(function(c) { -%>
            <option value="<%= c %>">
              <%= util.toTitleCase(c) -%>
            </option>
            <% }); -%>
        </select>
        <label for="countries" class="label">Country: </label>
        <select name="countries" id="countries">
          <option value="all">All Countries</option>
          <option value="random">Random Country</option>
          <% ref.countries.forEach(function(c) { -%>
            <option value="<%= c %>">
              <%= ref.isoCodes[c] -%>
            </option>
            <% }); -%>
        </select>
        <label for="recognized" class="label">Recognized by Google ML?</label>
        <select name="recognized" id="recognized">
          <option value="recognized">Recognized only</option>
          <option value="unrecognized">Unrecognized only</option>
          <option value="all">Recognized and Unrecognized</option>
        </select>
        <input id="submit" type="submit" value="Submit">

        <input id="pageCategory" type="hidden" value="<%= category %>">
        <input id="pageCountry" type="hidden" value="<%= countryCode %>">
        <input id="pageRecognized" type="hidden" value="<%= recognized %>">
        <input id="state" type="hidden" value="<%= state %>">
      </form>
    </div>

    <div id="drawings" class="drawings"></div>
    <p id="error" class="ui-state-error ui-corner-all error">No drawings found meeting this criteria</p>

    <script>
      $(function() {
        var drawingTemplate = undefined;
        $.ajax({url: '/templates/drawings.ejs',
                success: function(result) {
                  drawingTemplate = result;
                },
                failure: function(err) {
                  console.log(err);
                },
                async: false})

        $("#categories").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#countries").selectmenu().selectmenu("menuWidget").addClass("overflow left_align");
        $("#recognized").selectmenu().selectmenu("menuWidget").addClass("left_align");
        $("#submit").button();

        var criteria = {};
        criteria.cat = $('#pageCategory').val();
        criteria.cc = $('#pageCountry').val();
        criteria.rec = $('#pageRecognized').val();

        $('#categories').val(criteria.cat).selectmenu('refresh');
        $('#countries').val(criteria.cc).selectmenu('refresh');
        $('#recognized').val(criteria.rec).selectmenu('refresh');

        var state = $('#state').val();

        function queryForDrawings() {
          if ($("#drawings").html().length > 0) {
            criteria.last = $('div.drawing:last-child input').val();
          }

          $.post({
            url: '/drawings/fetch',
            data: criteria,
            success: function(res) {
              if (res.data.length == 0) {
                if ($("#drawings").html().length == 0) {
                  $('#error').css('visibility', 'visible');
                }
                $(window).unbind('scroll', scrollEvent);
                state = 'done';
              } else {
                $("#drawings").append(ejs.render(drawingTemplate, res));

                $("span.flag").unbind('click', flagDrawing);
                $("span.flag").button().click(flagDrawing);
              }
            }
          });
        };

        if (state == 'query') {
          queryForDrawings();
        }

        function scrollEvent() {
          $(window).unbind('scroll', scrollEvent);

          if (state == 'query' && $(window).scrollTop() == $(document).height() - $(window).height() - 0) {
            queryForDrawings();
          }

          $(window).bind('scroll', scrollEvent);
        }

        $(window).bind('scroll', scrollEvent);

        $("#form").submit(function(e) {
          e.preventDefault();
          var country = $("#countries").val();
          var category = $("#categories").val();
          var recognized = $("#recognized").val();
          var url = `/drawings/filter/${country}/${category}/${recognized}`;
          window.location.href = url;
        });

        function flagDrawing() {
          // get flag's parent drawing div
          var $drawing = $(this).parents('div.drawing:first');
          // get the drawing's id
          var id = $drawing.children('[name=_id]:first').val();

          console.log(`flagging ${id}`);

          $.post({
            url: '/drawings/flag',
            data: {_id: id},
            success: function(res) {
              if (res) {
                $drawing.fadeOut(800);
              } else {
                console.log(`failed to flag drawing ${id}`);
              }
            }
          });
        }
      });
    </script>
  </div>
</body>

</html>
